---
layout: default
---
<div id="wrapper">
  <div id="main">

    {% include featured_posts.html %}

    <div class="post-block latest">

      <h3>Latest</h3>

      {% for page in paginator.posts %}
        {% include small_post.html %}
      {% endfor %}

    </div>

    <div class='pagination'>
      {% if paginator.page == 2 %}
      <a href='/' class='inactive' >&laquo;Prev</a>
      {% elsif paginator.page > 1 %}
      <a href='/page{{paginator.page | minus:1 }}/' class='inactive' >&laquo;Prev</a>
      {% endif %}
      {% if paginator.page < paginator.total_pages %}
      <a href='/page{{paginator.page | plus:1}}/' class='inactive' style='float:right'>Next&raquo;</a>
      {% endif %}
    </div>


  </div><!-- END MAIN -->

  {% include sidebar.html %}

</div><!-- END WRAPPER -->
