<h3>About the Author: <a href="/author/" title="Posts by Roma" rel="author">Roma Sharma</a></h3>

<img alt='' src='http://1.gravatar.com/avatar/a5aec724ef61d1350db88ed058c124b6?s=100&r=pg&d=mm' class='avatar avatar-75 photo' height='75' width='75' />

<p class="about-author-text">I am a software engineer by qualification. However, after having two kids I turned a homemaker. I love cooking, blogging and photography. I have written a book on baby food recipes which is available on Amazon Kindle Store. In my free time, I love to bake cakes. You can follow me on <a href="http://twitter.com/romasharma">Twitter</a> and <a href="http://facebook.com/romaspace/">Facebook</a>.</p>


