<div id="featured-wrapper">

  <div id="slider" class="featured-item">

    {% for post in site.categories['Desserts'] limit:4 %}
    <a href="{{post.url}}" rel="bookmark" title="{{post.title}}"><img src="{{post.image}}" alt="{{post.title}}" title="#htmlcaption_{{forloop.index}}" rel="{{post.image}}" width="620" height="300" /></a>
    {% endfor %}

  </div>

  {% for post in site.categories['Desserts'] limit:4 %}
  <div class="nivo-html-caption" id="htmlcaption_{{forloop.index}}">
    <div class="featured-text">
      <span>BY Roma, {{ post.date | date:"%b %d, %Y"}}, IN <a href="/category/{{post.categories[0] | slugify}}/" title="View all posts in {{post.categories[0]}}" rel="category tag">{{post.categories[0]}}</a></span>
      <h2><a href="{{post.url}}" rel="bookmark" title="{{post.title}}">{{post.title}}</a></h2>
    </div>
  </div>
  {% endfor %}


</div>
