<div id="navigation-wrapper">

  <div id="navigation">

    <ul>
      <ul id="menu-main" class="menu">
        <li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom {% if page.url == "/index.html"%}current-menu-item{%endif%} current_page_item menu-item-home menu-item-36"><a href="/">Home</a></li>
        {% for c in site.navigations %}
        {% capture cat_url %}/category/{{ c | slugify}}/index.html{% endcapture %}
        <!--
        :{{cat_url}}:{{page.url}}:
        -->
        <li id="menu-item-37" class="menu-item menu-item-type-taxonomy menu-item-object-category {%if cat_url == page.url%}current-menu-item{%endif%}"><a href="/category/{{c|slugify}}/">{{c}}</a></li>
        {% endfor %}
        <!--
        <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="#">Dropdowns</a>
        <ul class="sub-menu">
          <li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a href="#">Menu item</a></li>
          <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52"><a href="#">Menu item 2</a></li>
          <li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a href="#">Menu item 3</a></li>
        </ul>
        </li>
        -->
      </ul>			
    </ul>

  </div>

</div><!-- END NAVIGATION-WRAPPER -->


