<div id="navigation-wrapper">

  <div id="navigation">

    <ul>
      <ul id="menu-main" class="menu">
        <li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-36"><a href="/">Home</a></li>
        <li id="menu-item-37" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-37"><a href="/category/book-reviews/">Book Reviews</a></li>
        <li id="menu-item-38" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a href="/category/festivals/">Festivals</a></li>
        <li id="menu-item-39" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-39"><a href="/category/lifes-like-that/">Life's like that</a></li>
        <li id="menu-item-40" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-40"><a href="/category/travel/">Travel</a></li>
        <li id="menu-item-41" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41"><a href="/category/recipes/">Recipes</a></li>
        <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="#">Dropdowns</a>
        <ul class="sub-menu">
          <li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a href="#">Menu item</a></li>
          <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52"><a href="#">Menu item 2</a></li>
          <li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a href="#">Menu item 3</a></li>
        </ul>
        </li>
      </ul>			
    </ul>

  </div>

</div><!-- END NAVIGATION-WRAPPER -->


