<h3>Related Posts</h3>

{% for item in site.related_posts limit:3 %}
<div class="post-item-grid">

  <a href="{{item.url}}" rel="bookmark" title="{{item.url}}"><img width="190" height="190" src="{{item.image_thumbnail}}" class="attachment-grid-thumb wp-post-image" alt="{{item.title}}" title="{{item.title}}" /></a>

  <h2><a href="{{item.url}}" rel="bookmark" title="{{item.title}}">{{item.title}}</a></h2>

  <div class="post-item-meta">
    <span>In <a href="/category/{{item.categories[0]}}/" title="View all posts in {{item.categories[0]}}" rel="category tag">{{item.categories[0]}}</a></span>
    <span>On {{ page.date | date:"%b %d, %Y"}}</span>
  </div>

</div>
{% endfor %}


