<div class="share-box">

  <div class="share-widget">
    <a href="http://twitter.com/share" class="twitter-share-button" data-text='Rigatoni with sausage and tomatoes' data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>

  <div class="share-widget">
    <iframe src="http://www.facebook.com/plugins/like.php?app_id=149766198425277&amp;href=http%3A%2F%2Ffoodpress.wpmaniac.com%2Fpizza-pasta%2Frigatoni-with-sausage-and-tomatoes%2F&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:60px;" allowTransparency="true"></iframe>
  </div>

  <div class="share-widget">
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone size="tall"></g:plusone>
  </div>

  <div class="share-widget">
    <a href="mailto:?subject={{page.title}}&amp;body=http://{{site.url}}{{page.url}}"><img src='/themes/foodpress/images/email-share.png' alt='Email Share' /></a>
  </div>

</div>
