{% for post in site.posts limit:3 %}
<div class="post-item-side">

  <img width="80" height="80" src="{{post.image_thumbnail}}" class="attachment-side-thumb wp-post-image" alt="{{post.title}}" title="{{post.title}}" />
  <h4><a href="{{post.url}}" rel="bookmark" title="{{post.title}}">{{post.title}}</a></h4>
  <div class="post-item-meta">
    <span>In <a href="/category/{{post.categories[0] | slugify}}/" title="View all posts in {{post.categories[0]}}" rel="category tag">{{post.categories[0]}}</a></span>
    <span>On {{ post.date | date:"%b %d, %Y"}}</span>
    <span class="comments"><a href="#comments" title="Comment on {{post.title}}">4 Comments</a></span>
  </div>

</div>
{% endfor %}
