---
layout: default
---
<div id="title-wrapper">

  <div id="title">

    <div class="title-text">
      <h1>{{ page.title }}</h1>
      <span>By <a href="/author/" title="Posts by Roma" rel="author">Roma</a>, {{ page.date | date:"%b %d, %Y"}}, In <a href="/category/{{page.categories[0] | slugify}}/" title="View all posts in {{page.categories[0]}}" rel="category tag">{{page.categories[0]}}</a></span>
    </div>
  </div>

</div>

<div id="crumbs-wrapper">

  <div id="crumbs"><a href="/">Home</a> <span class="delimiter">&raquo;</span> <a href="/category/{{page.categories[0] | slugify}}/" title="View all posts in {{page.categories[0]}}">{{page.categories[0]}}</a> <span class="delimiter">&raquo;</span> <span class="current">{{page.title}}</span></div>
</div>

<div id="wrapper">

  <div id="main">

    <div id="post">
      {{content}}
      <div class="post-tags">
        {% for tag in page.tags %}
        <a href="/tag/{{tag|slugify}}/" rel="tag">{{tag}}</a>
        {% endfor %}
      </div>

    </div>

    {% include share_buttons.html %}

    <div class="pagination">
      {% include newer_and_older_posts.html %}
    </div>

    <div class="post-block">
      {% include bio_block.html %}
    </div>

    <div class="post-block">
      {% include related_posts.html %}
    </div>

    <div class="post-block">

      <!-- You can start editing here. -->

      <div id="respond">

        <h3>Leave A Response</h3>

        <div id="respond-content">

          <p class="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="/pizza-pasta/rigatoni-with-sausage-and-tomatoes/#respond" style="display:none;">Click here to cancel reply.</a></p>

          <p>You must be <a href="#">logged in</a> to post a comment.</p></div>

      </div>

    </div>

  </div><!-- END MAIN -->

  {% include sidebar.html %}

</div><!-- END WRAPPER -->
