---
layout: default
---
<div id="title-wrapper">

  <div id="title">

    <div class="title-text">
     <h1>{{ page.title }}</h1>
    </div>
  </div>

</div>

<div id="crumbs-wrapper">

  <div id="crumbs"><a href="/">Home</a> <span class="delimiter">&raquo;</span> <span class="current">Archive by tag "{{page.title}}"</span></div>
</div>

<div id="wrapper">

  <div id="main">
    <div class="post-block latest">
      {% for page in site.tags[{{page.tag}}] %}
        {% include small_post.html %}
      {% endfor %}

      <div class="post-block">
        {% include bio_block.html %}
      </div>

    </div>


  </div><!-- END MAIN -->

  {% include sidebar.html %}

</div><!-- END WRAPPER -->
